.form-popup{
  position: fixed;
  top: 20%;
background-color: darkgrey;
width: 640px;
height: 460px;
//display: none;
padding: 30px;
}

.inp-firstName{
  display: block;
  margin-bottom: 20px;
}

.inp-lastName{
  display: block;
  margin-bottom: 20px;
}

.inp-email{
  display: block;
  margin-bottom: 20px;
}

.btn-add{
  width: 110px;
  height: 40px;
}

.btn-cancel{
  width: 110px;
  height: 40px;
}
