/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../../assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
      box-sizing: border-box;
      
  }
  *, *::before, *::after {
      box-sizing: inherit;
  }

/* HEADER STARTS*/
.container-main {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.header {
    
}
.wrapper {
    margin: 0 auto;
    background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);

height: 94px;
  }

  .header__wrapper {
    margin: 0 auto;
    max-width: 1620px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-end;
    padding-top: 15px;
   
  }
  .logo-light {
    max-width: 59px;
    height: 42px;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
color: #333333;
font-size: 18px;
line-height: 21px;
text-decoration: none;
  }
  .logo-href{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
color: #333333;
font-size: 18px;
line-height: 21px;
text-decoration: none;
 
  }
  .logo-light:hover{
      cursor: pointer;
  }
  .zoo{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: -6px;
  }
  .online {
    letter-spacing: 0.08em;
  }
  .header__list{
    display: flex;
    flex-wrap: wrap;   
    margin-left: 75px;
 }

 .header_item{
     margin-right: 83px;  
     
 }
 .header__links{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;  
 }
 
 .link-zoos{
    font-weight: 500;
 }
 .activ-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    border-bottom: 1px solid #333333;
    cursor: default;
 }

.main-switcher{
    position: relative;
    cursor: pointer;
}
.switcher-bg{
    
    width: 54px;
   height: 30px;
   left: 0px;
   top: 0px;
   background: #F2F2F2;
   border-radius: 190px;
}
.switcher {
    position: absolute;
    width: 20px;
   height: 20px;
   left: 6px;
   top: 5px;
   border-radius:50%;
   box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
   background: #FFFFFF;
}
 /* HEADER ENDS*/

 /* favorite STARTS*/
.favorite{
    background: url("../../assets/images/bgi-jpg.jpg") no-repeat top;
    position: relative;
    
    height: 940px;
    overflow:hidden;
    background-size:cover
}

.favorite__wrapper{
    
}
.favorite__watch{
    
}

.favorite__watch-text{
    position: absolute;
    left: 360px;
top: 206px;
max-width: 793px;
height: 208px;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 89px;
line-height: 104px;
color: #FEFEFE;
}
.favorite-btn{
    position: absolute;
    max-width: 245px;
height: 55px;
left: 360px;
top: 451px;
cursor: pointer;
}
.favorite-btn:hover{
    opacity: 0.8;
}

.favorite__gallery{
    position: absolute;
    
}

.line{
    position: absolute;
    left: 840px;
    top: 588px;
    /*right: 0px;*/
    
}
.favorite__photoes{
    position: absolute;
    display: flex;
    flex:wrap;
    margin-left: 975px;
    margin-top: 495px;
    flex-direction: row;
    justify-content:center;
    
}
.animals-gallery{
    width: 140px;
    height: 203px;
}
.animals-gallery:hover{
    opacity: 0.85;
}
.favorite__animal{
    margin-right: 46px;
    
    }
.favorite__animal:last-child{
        margin-right: 0px;
          
}
.favorite__animal:first-child{
        
    }

.panda{
    width: 245px;
    height: 352px; 
margin-top:-90px;
z-index: 1;
}
.panda:hover{
    
}
.panda-discription{
    color: #FFFFFF;
    position: absolute;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
z-index: 2;
margin-top: -120px;
margin-left: 23px;
}
.panda-text{
height: 48px;
    margin-bottom: 14px;
    width: 185px;
}
.panda-watch{
    margin-right: 10px;
    
}
.panda-watch:hover{
    cursor: pointer;
}

.scrolle-favorits{
    position: absolute;
    left: 1161px;
top: 778px;
}

.photo-count{
    position: relative;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
color: #FEFEFE;
left: 0px;
top: -100px;
}
.number-favorite{
    position: absolute;
    left: 96px;
top: 100px;
}

.interactiv-scrolle{
    position: absolute;
    top:35px
}



/* input - range top of Whath start  */

input[type=range] {
    -webkit-appearance: none;
    margin: 2.5px 0;
    width: 245px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgba(189, 189, 189, 0.57);
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 10px;
    width: 30px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(189, 189, 189, 0.57);;
  }

  /* input - range top of Whath end  */







.interactiv-scrolle:hover{
    cursor: pointer;
    
}
.counte-favorite{
    font-size: 0.625em;
}

.social{
    position: absolute;
    left: 152px;
top: 722px;

}

.social-list__links{
    margin-bottom: 15px;
}
.social-list__links:last-child{
    margin-bottom:0;
} 

/* favorite ENDS*/

/* How it works STARTS*/

.how{
    background: #FFFFFF;
    height: 883px;
}
.how-wrapper{
    max-width: 790px;
    margin: 0 auto;
    margin-top: 100px;
}
.how-header{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
color: #333333;
margin-bottom: 30px;
}
.how-text{
    width: 790px;
height: 80px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #4F4F4F;
margin-bottom: 30px;
}
.how-photo{
    margin-bottom: 29px;
}
.how-counter{
    
    position: relative;
margin-left: 272px;
}
.how-number{
   
    margin-left: 96px;
    top: 0px;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
/* input - range top of HOW start  */
.how-scrolle {
    margin-bottom: 30px;
}


input.how-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0px solid #000000;
    height: 10px;
    width: 62px;
    background: #333333;
    cursor: pointer;
    
    margin-top: -2.5px;
  }

  
  

  /* input - range top of HOW end  */
.how-btn{
    margin-left: 272px;
}
.how-btn:hover{
    cursor: pointer;
    opacity: 0.8;
    }




/* How it works ENDS*/


/* inspires STARTS*/

.table{
    position: relative;
    
    height: 413px;
    background: #F2F2F2;
    margin-top: -190px;
    background-size:cover
}
.inspires{
    margin: 0 auto;
    margin-top: 90px;
    max-width: 1200px;
padding-top: 90px;
margin-left: 335px;
}
.taple-logo{
    text-align: center;
}
.table-header{
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
}

.table-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}

.table-first{
    
    
}
.table-first:last-child{
   
   
}
tr{

}
td{
    max-width: 380px;
}
table{
    border-collapse: separate;
    border-spacing: 10px 15px;
}



/* inspires ENDS*/

/* Pets in Zoo STARTS*/
.pets{
    
    height: 854px;
    margin-bottom: -100px;
}
.pets-wrapper{
    margin: 0 auto;
    margin-top: 100px; 
}
.photo-wrapper{
   
}
.pets-header{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;
margin-bottom: 35px;
}
.pets-photo{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto; 
    margin-bottom: 30px;
    
}
.pets-counter{
    margin-bottom: 30px;
}
.arrow{
    margin-top: 93px;
    cursor: pointer;
}
.pets-counter{
    text-align: center;
    position: relative;
}
.pets-number{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
color: #333333;
margin-bottom: 5x;
cursor: pointer;
}
.pets-btn{
    margin-left: 836px;
    
}
.pets-btn:hover{
    cursor: pointer;
    opacity: 0.7;
    pointer-events: auto;
}
.pets-dot{
    position: absolute;
    margin-left: 820px;
    margin-top: -15px;
}
.pets-scrolle{
    cursor: pointer;
    opacity: 0.7;
    pointer-events: auto;
}
.photo-p{
    position:relative;
    
}
.photo-p:hover{
    opacity: 0.7;
    cursor: pointer;
}





.pets-elem{
    overflow: hidden;
}
.pets-hiden{
    position: absolute;
    margin-top: -124px;
    margin-left: 20px;
    visibility:hidden;
}
.pets-elem:hover .pets-hiden {
    visibility:visible; 
    
}
.pets-hiden:hover{
     
}
.pets-hiden-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
width: 194px;
margin-bottom: 14px;
}




/* Pets in Zoo ENDS*/

/* Pay and feed STARTS*/ 
.pay{
    
height: 754px;
    background: #F2F2F2;
}

.pay-wrapper{
    margin: 0 auto;
}
.pay-header{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;
padding-top: 100px;
margin-bottom: 30px;
}
.pay-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #4F4F4F;
margin-bottom: 92px;
}
.pay-algoritm{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.arrLine{
    margin-top: 115px;
}

.pay-donate{
    margin-left: 838px;
}
.pay-donate:hover{
    cursor: pointer;
    opacity: 0.7;
}



/* Pay and feed ENDS*/

/* Testimonials STARTS*/
.Testimonials-wrapper{
    
height: 810px;
margin-bottom: -100px;
}
.Test-header{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;
    margin-top: 100px;
    margin-bottom: 62px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.rewiews-comment{
    width: 585px;
    height: 310px;
background: #FEFEFE;
box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
border-radius: 5px;
align-items: center;
}
.reviews-elem{
    text-align: center; 
}
.name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #333333;
    position: relative;
    top: 65px;
    margin-right: 3px;
}
.comment{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 440px;
    color: #4F4F4F;
    margin: 0 auto;
    position: relative;
    top: 85px;
    text-align: left;
}
.user-border{
    position: relative;
    top: 47px;
    left: 25px;
}
.left-com{
    position: relative;
    top: 47px;
    right: 34px;
}
.right-com{
    position: relative;
    top: 47px;
}
.rew-arr{
margin-top: 140px;

}
.rew-arr:hover{
    cursor: pointer;
    opacity: 0.8;
    
    }
.comment-counter{
    margin-top: 49px;
    text-align: center;
}
.comment-number{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
color: #333333;
}
.comment-scrolle{
    position: relative;
    top: 4px;
    
    margin-bottom: 35px;
    cursor: pointer;
}
.comment-line{
    position: absolute;
    
}
.comment-dot{
    position: absolute;
    left: 30px;
}

.comment-btn{
    margin-left: 836px;   
}

.comment-scrolle:hover{
    cursor: pointer;
    opacity: 0.8;
    
    }
    .comment-btn:hover{
        cursor: pointer;
        opacity: 0.8;
        
        }




/* Testimonials ENDS*/

/*MAP sSTARTS*/

.map{
    position: relative;
    max-height: 904px;
   max-width:1920px ;
    background: #F2F2F2;
    padding-bottom: 130px;
}
.map-wrapper{
    text-align: center;

}
.map-header{
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #333333;
padding-top: 100px;
margin-bottom: 60px;
}
.map-main{
    text-align: center;
    margin-bottom: 35px;
    background: url('../../assets/images/Map.png') no-repeat;
height: 497px;
max-width: 62.39583%;

margin: 0 auto;
}

.map-btn{
    text-align: center;
}
.map-btn:hover{
cursor: pointer;
opacity: 0.8;
}

.svg-wrap{
    display: flex;
    flex-wrap: wrap;
}

.svg1{
    position: absolute;
    margin-left:470px;
    margin-top: -458px;
}

  .svg2{
    position: absolute;
    margin-left:593px;
    margin-top: -430px;
}
.svg3{
    position: absolute;
    margin-left:920px;
    margin-top: -344px;
}
.svg4{
    position: absolute;
    margin-left:1242px ;
    margin-top:-442px ; 
    overflow: hidden;
}

path:hover {
    fill: #4BD8B5;
  }
  .forHint{
    overflow: visible;
  }
.forHint:hover .hint{
    visibility: visible;
}
.svg4:active .hint{
    visibility: visible;
}

  .hint{
      position: absolute;
      margin-top: -50px;
      margin-left: 50px;
      visibility: hidden;
      z-index: 5;
  }



/*MAP END*/

/*FOOTER START*/

.footer{
    background: #333333;
    height: 751px;
   
}
.footer-centring{
   
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: 117px;
    color: #FEFEFE;
    padding-top: 100px;
    max-width: 1620px;
    border-bottom: 0.5px solid #FEFEFE;
    padding-bottom: 60px;
    margin-bottom: 30px;
}
.footer-left{
    display: flex;
    flex-direction:column;
    color: #FEFEFE;
}
.footer-logo-href{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #FEFEFE;
text-decoration: none;
}
.footer-zoo{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
}
.footer-online{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    margin-top: -10px;
}





.contuctUs{
    display: flex;
    flex-direction:column;
    color: #FEFEFE;
    
}
.us{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
margin-top: 67px;
margin-bottom: 33px;
}
.input-text{
    background-color: transparent;
    background: #333333;
    width: 383px;
   border: 0px;
   border-bottom: 1px solid #BDBDBD;
   margin-bottom: 20px;
   
}
.input-text::placeholder{
    color: #FEFEFE;
}

.email{
    width: 383px;
    height: 26px;
    background-color: transparent;
    border: 0px;
   border-bottom: 1px solid #BDBDBD;
   margin-bottom: 30px;
   color: #FEFEFE;
}
.email::placeholder{
    color: #FEFEFE;
}
.textarea{
    width: 383px;
height: 115px;
background-color: transparent;
border: 1px solid #BDBDBD;
border-radius: 3px;
margin-bottom: 25px;
}
.legend{
 
}
.check{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #BDBDBD;
}
.checkbox{
    background-color: #333333; 
    margin-bottom: 20px;
}
.submit{
    color: #FEFEFE;
    text-decoration: none;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.submit-p{

    margin-left: 260px;
}
.submit-arrow{
    display: inline-block;
    margin-left: 20px;

}

.submit-p {
    margin-left: 244px;
    width: 139px;
    height: 32px;
    outline: none;
  border: none;
  cursor: pointer;
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FEFEFE;
   display: inline-flex;
   justify-content: space-evenly;
   align-items: center;
   background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  }





.footer-right{
    display: flex;
    flex-wrap: wrap; 
    
    color: #FEFEFE; 
    margin-top: 30px;
    margin-left: 440px;
    justify-content: space-between; 
    
}

.left-text{
      
}
.list-link{
    margin-right: 73px;
}
.list-link:last-child{
    margin-right: 132px;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;  
    color: #FEFEFE;
    justify-content: space-between;
    margin-bottom: 73px;
}
.fot-link{
    color: #FEFEFE;
    text-decoration: none;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.online-centre{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
margin-bottom: 35px;
}
.address{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin-bottom: 20px;
}
.address-add{
    margin-bottom: 5px;
}
.address-day{
    margin-bottom: 20px;
}
.address-tel{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FEFEFE;

}
.tel{
    margin-bottom: 5px;
}
.address-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
}

.foot-social-list{
    display: flex;
    flex-wrap: wrap;  
}
.foot-social-link{
    margin-right: 15px;
}
.foot-soc{
    
}
.right-btn-div{
    margin-top: -17px;
    margin-left: 7px;
}
.right-btn:hover{
cursor: pointer;
opacity: 0.8;
}




.footer-bottom{
    color: #FEFEFE;  
    margin-left: 120px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #BDBDBD;
}
.noora{
    margin-bottom: 5px;
}

/*FOOTER END*/
span{
    font-size: 0.625em
}
