*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 20px;
}
body{
  color: black;
  background-color: rgb(238, 228, 138);
}

main{
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 97px;
}

footer{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-aria{
  margin: 0 auto;
  background-color: rgb(233, 210, 210);
  width: 1000px;
  height: 920px;
  padding: 36px;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.display-none{
  display: none;
}

.message{
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  max-width: 320px;
  max-height: 520px;
}
.answer-stars{
  position: fixed;
  width: 64px;
  height: 64px;
top: 0;
left:10%
}
.general-star{
position: absolute;
}
.stars-count{
  position: absolute;
  color: rgb(7, 107, 49);
  font-size: 32px;
}
