.table{
  margin: 0 auto;
  max-width: 100%;
  //min-height: 1080px;
  background-color: #fff;
  border: 2px solid blue;
}
thead{
  background-color: rgb(12, 250, 32);
}
th{

  border: 1px solid blue;
}

td{
  border: 1px solid blue;
}
