*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 20px;
}
body{
  color: white;
  background-color: darkslategrey;
}

main{
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 97px;
}

footer{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.cards-field{

  width: 70%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-container{
  margin: 1%;
  display: flex;
  flex: 1 0 22%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

perspective: 30rem;

&:hover > .card{
transform: translateZ(2rem);
}

}

.card {
  position: relative;
  width: 10rem;
  height: 12rem;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all .5s;
  border-radius: .5rem;

  &.flipped{
    transform: rotateY(180deg) translateX(-100%);
  transform-origin: left;
  }

&__front,
&__back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: .5rem;
}

  &__front {
    background-color: crimson;

  }

  &__back{

    background-color: gray;
    background-image: url('./assets/card-back.png');
    background-position:  center;
    background-size: cover;
    transform: rotateY(180deg);
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: rgb(63, 98, 238);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.logo{
  font-size: 24px;
  color:  rgb(246, 246, 250);
  background-color: rgb(85, 202, 231);
  height: 64px;
}

.nav {

  &__about-btn {
    font-size: 20px;
    background-color:  rgb(243, 131, 141);
    width: 100px;
height: 64px;
  }

  &__score-btn {
    font-size: 20px;
    background-color:  rgb(243, 131, 141);
    width: 100px;
height: 64px;
  }

  &__setting-btn {
    font-size: 20px;
    background-color:  rgb(243, 131, 141);
    width: 100px;
height: 64px;
  }
}

.activ-rout {
  background-color:  rgb(188, 233, 205);
}


.btn {

  &__register {
    font-size: 20px;
    background-color:  rgb(43, 231, 115);
    width: 207px;
height: 36px;
  }

  &__start {
    // display: none;
    font-size: 20px;
    background-color:  rgb(43, 231, 115);
    width: 122px;
height: 36px;
  }

  &__stop {
    // display: none;
    font-size: 20px;
    background-color:  rgb(43, 231, 115);
    width: 122px;
height: 36px;
  }
}

.main-aria{
  margin: 0 auto;
  background-color: rgb(233, 210, 210);
  width: 1000px;
  height: 920px;
  padding: 36px;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.first-rule{
  background-image: url('./assets/first-rule.png');
  background-position:  center;
  background-size: cover;
  width: 360px;
  height: 230px;
  margin-bottom: 20px;
}
.second-rule{
  background-image: url('./assets/second-rule.png');
  background-position:  center;
  background-size: cover;
  width: 360px;
  height: 132px;
  margin-bottom: 20px;
}
.third-rule{
  background-image: url('./assets/third-rule.png');
  background-position:  center;
  background-size: cover;
  width: 360px;
  height: 240px;
  margin-bottom: 20px;
}

.register-rule{
  background-image: url('./assets/register-rule.png');
  background-position:  center;
  background-size: cover;
  width: 302px;
  height: 218px;
  margin-bottom: 20px;
  margin-top: 20px;
 }

 .setting-rule{
   color: black;
  font-size: 20px;
  background-color:  rgb(243, 131, 141);
  // background-image: url('./assets/settings-rule.png');
  // background-position:  center;
  // background-size: cover;
  width: 100px;
  height: 64px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
 }
.field-rule{
  background-image: url('./assets/field-rule.png');
  background-position:  center;
  background-size: cover;
  width: 330px;
  height: 240px;
  margin-bottom: 20px;
  margin-top: 20px;
}
