*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 20px;
}
body{
  color: white;
  background-color: darkslategrey;
}

main{
  min-height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 97px;
}

footer{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Capa_1{
  width: 90px;
  height: 76px;
  transform: rotateY(180deg);
}


.displayNone{
  display: none;
}
